#homePage{
	background-image: url("unitedplane.jpeg");
	background-color: rgba(255,255,255,0.5);
	background-size: 100% auto;
	background-blend-mode: lighten;
}

a:visited {
	color: #2A4DC9;
}

.asiaContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"Japan Indonesia";
	justify-items: center;
	align-items: center;
	padding: 100px;
}

.africaContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"Serengeti Tarangire";
	justify-items: center;
	align-items: center;
	padding: 100px;
}

.europeContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"Amsterdam Italy";
	justify-items: center;
	align-items: center;
	padding: 100px;
}

#asiaPage{
	background-color: #EBF6ff;
}

#africaPage{
	background-color: #F2FFF5;
}